<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmk.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.lmk.user.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, username,password
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM users
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM users
	   WHERE id = #{id}
    </select>

    <select id="loginByUserName" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM users
        WHERE username = #{name}
    </select>

    <insert id="insert" parameterType="com.lmk.user.User" >
       INSERT INTO 
       		users
       		(username,password)
       	VALUES
       		(#{name},#{password})
    </insert>
    
    <update id="update" parameterType="com.lmk.user.User" >
       UPDATE 
       		users 
       SET
       	<if test="name != null">username = #{name},password = #{password},</if>
       WHERE 
       		id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.String" >
       DELETE FROM
       		 users 
       WHERE 
       		 id =#{id}
    </delete>

</mapper>